.idea
.ipynb_checkpoints
.mypy_cache
.vscode
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
docs_build
.venv
docs.zip
archive.zip
# vim temporary files
*~
.*.sw?
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile
.dockerignore
Dockerfile
__pycache__